# ##################################################################################################
#  The MIT License (MIT)
#  Copyright (c) 2025 Advanced Micro Devices, Inc. All rights reserved.
# 
#  Permission is hereby granted, free of charge, to any person obtaining a copy of this software
#  and associated documentation files (the "Software"), to deal in the Software without restriction,
#  including without limitation the rights to use, copy, modify, merge, publish, distribute,
#  sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is
#  furnished to do so, subject to the following conditions:
# 
#  The above copyright notice and this permission notice shall be included in all copies or
#  substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
# NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
# DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
# ##################################################################################################

[connectivity]
# 实例化内核 - 每个实例单独一行
nk=read_buf:1:read_buf_0
nk=compute_lambda:1:compute_lambda_0
nk=compute_lambda:1:compute_lambda_1

# AXI Stream 连接 - read_buf 到 compute_lambda_0 (第一个IP)
stream_connect=read_buf_0.aty_out0:compute_lambda_0.aty
stream_connect=read_buf_0.cost_out0:compute_lambda_0.cost
stream_connect=read_buf_0.hasLower_out0:compute_lambda_0.hasLower
stream_connect=read_buf_0.dLowerFiltered_out0:compute_lambda_0.dLowerFiltered
stream_connect=read_buf_0.hasUpper_out0:compute_lambda_0.hasUpper
stream_connect=read_buf_0.dUpperFiltered_out0:compute_lambda_0.dUpperFiltered
stream_connect=read_buf_0.colScale_out0:compute_lambda_0.colScale

# AXI Stream 连接 - read_buf 到 compute_lambda_1 (第二个IP)
stream_connect=read_buf_0.aty_out1:compute_lambda_1.aty
stream_connect=read_buf_0.cost_out1:compute_lambda_1.cost
stream_connect=read_buf_0.hasLower_out1:compute_lambda_1.hasLower
stream_connect=read_buf_0.dLowerFiltered_out1:compute_lambda_1.dLowerFiltered
stream_connect=read_buf_0.hasUpper_out1:compute_lambda_1.hasUpper
stream_connect=read_buf_0.dUpperFiltered_out1:compute_lambda_1.dUpperFiltered
stream_connect=read_buf_0.colScale_out1:compute_lambda_1.colScale
